<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muscle Target</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="diagram-container">
        <%- include("./partials/diagram_svg.ejs") %>
    </div>
    <div class="exercises-container">
        <h2>Exercises For <%= target ? target : "Select a Muscle Group" %></h2>
        <div class="cards-container">
            <% if (workouts && workouts.length > 0) { %>
                <% workouts.forEach(workout => { %>
                    <div class="exercise-card">
                        <div>
                            <h3><%= workout.name %></h3>
                            <h4><%= workout.target %></h4>
                            <% workout.secondaryMuscles.forEach(muscle => { %>
                                <h5><%= muscle %></h5>
                            <% }); %>
                        </div>
                        <div>
                            <img src="<%= workout.gifUrl %>" alt="">
                            <ul>
                                <% workout.instructions.forEach(instruction => { %>
                                    <li><%= instruction %></li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No workouts available for the selected target.</p>
            <% } %>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
